.slide1{
    height: 500px;
    width: 100%;
    background: url("../img/mac_working_pixabay.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}
#slide1_img{
    width: 800px;
    margin-top: 170px;
}
.slide2{
    width: 100%;
}
#slide2_title{
    margin-top: -25px;
      width: 100%;
      text-align: center;
    -webkit-box-shadow: 3px 10px 23px -2px rgba(0,0,0,0.16);
    -moz-box-shadow: 3px 10px 23px -2px rgba(0,0,0,0.16);
    box-shadow: 3px 10px 23px -2px rgba(0,0,0,0.16);


}
#slide2_title h1{
    padding: 10px;
   color: #bf2322;
    font-family: 'Open Sans bold', sans-serif;
    font-size: 40px;
}
#slide2_ava{
    width: 40%;
    float: left;
}

#slide2_ava img {
    width: 100%;
    border-radius: 1000px;
    padding: 20px;
}
#slide2_content_info{
    width: 50%;
    float: right;
}
#slide2_content_info p{
    width: 100%;
    color: #bf2322;
    font-size: 18px;
    margin-bottom: 50px;
}
#slide2_content{
    width: 70%;
    margin: 0 auto;

}
.slide3{
    width: 100%;
}
.slide3 img{
    width: 100%;
}

.slide4{
    width: 100%;
    color: #bf2322;
}
.slide4 p{
    width: 40%;
    margin: 0 auto;
    padding-bottom: 30px;
}
#slide4_title{
    margin-top: -25px;
    width: 100%;
    text-align: center;
    -webkit-box-shadow: 3px 10px 23px -2px rgba(0,0,0,0.16);
    -moz-box-shadow: 3px 10px 23px -2px rgba(0,0,0,0.16);
    box-shadow: 3px 10px 23px -2px rgba(0,0,0,0.16);


}
#slide4_title h1{
    padding: 10px;
    color: #bf2322;
    font-family: 'Open Sans bold', sans-serif;
    font-size: 40px;
}
#slide4_content{
    width: 100%;
    margin: 0 auto;
}
#slide4_status{
    width: 66.5%;
    background-color: #bf2322;
    margin: 0 auto;

}
.status{
    width: 20%;
    color: #bf2322;
    float: left;
    text-align: center;

}
.grafiekstaaf{
    height: 50px;
    background-color: #bf2322;
    text-align: left;
    color: #ffffff;
    font-size: 25px;
    padding: 10px;
    /*-webkit-box-shadow: inset 0px -5px 16px -5px rgba(255,255,255,1);*/
    /*-moz-box-shadow: inset 0px -5px 16px -5px rgba(255,255,255,1);*/
    /*box-shadow: inset 0px -5px 16px -5px rgba(255,255,255,1);*/
    border-bottom: 1px solid #ffffff;

}
.sectiongraf{

    margin: 0 auto;
    padding: 60px;

}
.slide5{
    width: 100%;
}
#slide5_title{
    margin-top: -25px;
    width: 100%;
    text-align: center;
    -webkit-box-shadow: 3px 10px 23px -2px rgba(0,0,0,0.16);
    -moz-box-shadow: 3px 10px 23px -2px rgba(0,0,0,0.16);
    box-shadow: 3px 10px 23px -2px rgba(0,0,0,0.16);


}
#slide5_title h1 {
    padding: 10px;
    color: #bf2322;
    font-family: 'Open Sans bold', sans-serif;
    font-size: 40px;
}
#slide5_content{
    width: 80%;
    margin: 0 auto;
}
.werk{
    width: 28%;
    padding: 2.6%;
    float: left;
    text-align: center;
}
.werk:hover{
    cursor: pointer;
}
.werk img{
    width: 100%;
}
.werk_h1{
    font-size: 30px;
    color: #bf2322;
    margin-top: 15%;
}
.slide6{
    width: 100%;
    float: left;
}
#slide6_title{
    margin-top: -25px;
    width: 100%;
    text-align: center;
    -webkit-box-shadow: 3px 10px 23px -2px rgba(0,0,0,0.16);
    -moz-box-shadow: 3px 10px 23px -2px rgba(0,0,0,0.16);
    box-shadow: 3px 10px 23px -2px rgba(0,0,0,0.16);


}
#slide6_title h1 {
    padding: 10px;
    color: #bf2322;
    font-family: 'Open Sans bold', sans-serif;
    font-size: 40px;
}
#slide6_content{
    width: 80%;
    margin: 0 auto;

}
.slide6_box1{
    float: left;
    width: 50%;
}
.table1{
    width: 50%;
    color: #bf2322;
    float: right;
    font-size: 20px;
}
.table1 a{
    color: #bf2322;
    text-decoration: none;
}
.slide6_box2{
    float: left;
    width: 50%;
}
.slide6_box2 img{
    float: left;
    width: 50%;
    margin-left: 10%;
    background-color:#212123;
    border: 2px solid #bf2322;
    border-radius: 400px;
    margin-bottom: 40px;
}
.contact-img{
    width: 50px;
}
@media only screen and (min-width:900px) and (max-width: 1530px) {
    #slide2_content{
        width: 90%;
        margin: 0 auto;

    }
    .werk{
        width: 45%;
        padding: 2.5%;
        float: left;
        text-align: center;
    }
}
@media only screen and (max-width:900px){
    #slide1_img{
        width: 80%;
        margin-top: 170px;
    }
    #slide2_ava{
        width: 100%;
        float: left;
    }

    #slide2_ava img {
        width: 90%;
        border-radius: 1000px;
        padding: 20px;
    }
    #slide2_content_info{
        width: 100%;
        /*float: right;*/
    }
    #slide2_content_info p{
        width: 100%;
        color: #bf2322;
        font-size: 18px;
        margin-bottom: 50px;
    }
    #slide2_content{
        width: 90%;
        margin: 0 auto;

    }
    #slide4_content{
        width: 100%;
        /*margin-left: -20%;*/
    }
    #slide4_status{
        width: 66.5%;
        background-color: #bf2322;
        margin: 0 auto;

    }
    .status{
        width: 20%;
        color: #bf2322;
        float: left;
        text-align: center;
        font-size: 8px;

    }
    .grafiekstaaf{
        height: 20px;
        background-color: #bf2322;
        text-align: left;
        color: #ffffff;
        font-size: 12px;
        padding: 10px;
        margin-top: 5px;
        /*-webkit-box-shadow: inset 0px -5px 16px -5px rgba(255,255,255,1);*/
        /*-moz-box-shadow: inset 0px -5px 16px -5px rgba(255,255,255,1);*/
        /*box-shadow: inset 0px -5px 16px -5px rgba(255,255,255,1);*/
        border-bottom: 1px solid #ffffff;

    }
    .sectiongraf{
        margin: 0 auto;
        padding: 60px;

    }
    .slide4 p{
        width: 90%;
        margin: 0 auto;
        padding-bottom: 30px;
    }
    #slide5_content{
        width: 90%;
        margin: 0 auto;
    }
    .werk{
        width: 100%;
        float: left;
        text-align: center;
        margin-left: -2%;
    }
    .werk:hover{
        cursor: pointer;
    }
    .werk img{
        width: 100%;
    }
    .werk_h1{
        font-size: 30px;
        color: #bf2322;
        margin-top: 15%;
    }
    #slide6_content{
        width: 90%;
        margin: 0 auto;

    }
    .slide6_box1{
        width: 100%;
        /*margin-left: 15%;*/
    }
    .table1{
        width: 100%;
        color: #bf2322;
        font-size: 20px;


    }
    .table1 a{
        color: #bf2322;
        text-decoration: none;
    }
    .slide6_box2{
        width: 100%;
    }
    .slide6_box2 img{
       display: none;
    }
    .contact-img{
        width: 50px;
    }

}