body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
header{
    background: rgba(0, 0, 0, 0.3);
    text-align: right;
    /*float: left;*/
    width: 100%;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    z-index: 2;
    border-bottom: 1px solid white;

}
.nav-up {
    top: -60px;

}
.hamburger{
    display: none;
}
.cross{
    display: none;
}
.menu{
    display: none;
}
nav ul li {
    float: left;
    list-style: none;
    padding: 5px;
}
nav{
    float: right;
    margin-top: -55px;
}
#menu_logo{
    height: 50px;
    float: left;
    width: 40px;
    padding-left: 5px;
    padding-top: 5px;
}
#menu_logo img{
     width: 100%;
 }
#menu_logo img:hover{
    cursor: pointer;
}
#menu_naam{
    width: 300px;
    margin: 0 auto;
    display: block;

}
#menu_naam img{
    width: 100%;
    margin-bottom: -15px;
    margin-top: -10px;
}
.icons{
    width: 35px;
    margin-top: 0px;
    margin-left: -5px;
}
.icons:hover{
    cursor: pointer;
}
/*hoi*/
.menu_nav a{
    color: #ffffff;
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-top: -5px;

}
.menu_nav a:hover{
    border: 2px solid #bf2322;
    border-radius: 10px;
    margin-left: -2px;
    margin-right: -2px;

}
.menu_nav a:hover{
    /*padding: 3px;*/

}
.menu_nav{
    margin-left: 10px;
    margin-top: 5px;

}
.menu{
    display: none;
}
.menu li{
    display: none;
}
.menu ul{
    display: none;
}
#hamburger{
    display: none;
}
#cross{
    display: none;
}

@media only screen and (min-width:900px) and (max-width: 1530px) {

    #menu_naam{
        display: none;

    }
    nav{
        float: right;
        margin-top: -10px;
    }
    #hamburger{
        display: none;
    }
    #cross{
        display: none;
    }
    .menu{
        display: none;
    }
    .menu li{
          display: none;
      }
    .menu ul{
        display: none;
    }
    .hamburger{
        display: none;
    }
    .cross{
        display: none;
    }
}
@media only screen and (max-width:900px){

    #menu_naam{
        display: none;

    }
    nav ul li{
        display: none;
    }
    body{
        font-family: 'Noto Sans', sans-serif;
        margin:0;
        width:100%;
        height:100vh;
        background:#ffffff;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    header{
        width:100%;
        background: rgba(0, 0, 0, 0.3);;
        height:60px;
        line-height:60px;
        border-bottom:1px solid #bf2322;
    }
    .hamburger{
        background:none;
        position:absolute;
        top:0;
        right:0;
        line-height:45px;
        padding:5px 15px 0px 15px;
        color:#bf2322;
        border:0;
        font-size:1.4em;
        font-weight:bold;
        cursor:pointer;
        outline:none;
        z-index:10000000000000;
        display: block;
    }
    .cross{
        background:none;
        position:absolute;
        top:0px;
        right:0;
        padding:7px 15px 0px 15px;
        color:#bf2322;
        border:0;
        font-size:3em;
        line-height:65px;
        font-weight:bold;
        cursor:pointer;
        outline:none;
        z-index:10000000000000;
        display: block;
    }
    .menu{z-index:1000000; font-weight:bold; font-size:0.8em; width:100%; background: rgba(0, 0, 0, 0.3);  position:fixed; text-align:center; font-size:12px;margin-top: 60px}
    .menu ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
    .menu li {display: block;   padding:15px 0 15px 0; border-bottom:#bf2322 1px solid;}
    .menu li:hover{display: block;    background: rgba(0, 0, 0, 0.3); padding:15px 0 15px 0; border-bottom:#bf2322 1px solid;}
    .menu ul li a { text-decoration:none;  margin: 0px; color:#ffffff;}
    .menu ul li a:hover {  color: #bf2322; text-decoration:none;}
    .menu a{text-decoration:none; color:#ffffff;}
    .menu a:hover{text-decoration:none; color:#bf2322;}

    .menu li a{
        color: #ffffff;
        text-decoration: none;
        padding: 5px;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        margin-top: -5px;

    }

}